.animeCard {
    padding: 10px 0;
    border-top: 1px solid rgb(199, 172, 172);
    background-color: white;
    /* height: 100%;
    align-items: center; */
}

.poster {
   height: 315px;
   object-fit: cover;
   width: 220px; 
   padding: 10px 0;
}

.animeContent {
    padding-left: 20px;
}

.animeDescription {
    text-align: justify;
    padding-right: 10px;
}

