.poster {
    max-height: 450px;
    min-height: 300px;
    object-fit: cover;
    width: 100%;
}
.favBtn, .background  {
    position: absolute;
    opacity: 0;
}
.background {
   top: 0;
   height: 100%;
   width: 100%;
}

.favBtn {
    right: 20px;
    top: 10px;
}

.cardContainer:hover .background {
    background-color: rgba(33, 32, 34, 0.7);
}

.cardContainer:hover .favBtn, 
.cardContainer:hover .background {
    opacity: 1;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.container {
    padding-top: 20px;
}


@media (max-width: 1200px) {
    .poster {
        max-height: 400px;
    }
}

@media (max-width: 991px) {
    .poster {
        max-height: 300px;
        min-height: 100px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
       
    }
    .poster {
        max-height: 400px;
    }
}