.poster {
    /* height: 315px; max-height: 350px; */
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}
.favBtn, .background  {
    position: absolute;
    opacity: 0;
}
.background {
   top: 0;
   height: 100%;
   width: 100%;
}

.favBtn {
    right: 20px;
    top: 10px;
}

.cardContainer:hover .background {
    background-color: rgba(33, 32, 34, 0.7);
}

.cardContainer:hover .favBtn, 
.cardContainer:hover .background {
    opacity: 1;
}