.cardContainer {
    padding: 10px 0;
    border-top: 1px solid rgb(199, 172, 172);
    background-color: white; 
}

.poster {
   height: 315px;
   object-fit: cover;
   width: 220px; 
   padding: 10px 0;
}

.content {
    padding-left: 20px;
}

.cardDescription {
    text-align: justify;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

