/* .container {
    padding: 100px 120px;
} */

.elementList {
    /* background-color: antiquewhite; */
    background-color: white;
    border: 1px solid rgb(209, 204, 204);
    padding: 20px;
}
.title {
    font-weight: bold;
    font-size: 28px;
    /* padding-bottom: 10px; */
    /* padding-top: 20px; */
}
/* https://foni.club/uploads/posts/2023-02/1675335309_foni-club-p-fon-belo-goluboi-anime-38.jpg */