
.elementList {
    background-color: white;
    border: 1px solid rgb(209, 204, 204);
    padding: 20px;
}
.title {
    font-weight: bold;
    font-size: 28px;
}

.elementCard {
    width: 25%; 
}

.listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elementCard {
    width: 25%;
} 

@media (max-width: 1200px) {
     
    .listHeader{
        display: none;
    }
    .filterBtn {
        display: block;
    }
}

@media (max-width: 991px) { 
    .elementCard {
        width: 33%;
    }
}

@media (max-width: 576px) {
    .elementCard {
        width: 50%;
    }
}
