.modalContainer { /* search blocks modal */
    position: absolute;
    top: 50px; 
    width: 360px; 
    border: 1px solid rgb(209, 204, 204);
    box-shadow: 0px 3px 15px grey;
    overflow-y: auto;
    overflow-x: hidden;
    height: 650px; /* 370 650 */
}

.modalContainer::-webkit-scrollbar {
    width: 16px; /* width for vertical scroll */
    background-color: rgba(247, 82, 41, 0.3);
}

/* scrollbar slider */
.modalContainer::-webkit-scrollbar-thumb {
    background-color: rgb(247, 82, 41);
}

.modalContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgb(248, 53, 5);
}

.searchInput {
    width: 360px;
}

.searchInput input:focus{
    outline: none;
}

@media (max-width: 530px) {
    .searchInput {
        width: 60vw;
    }
    .modalContainer {
        width: 60vw;
    }
}