.container {
    position: absolute; 
    /* padding: 12px 24px; */
    margin-top: 5px;
    color: rgba(27, 31, 35, 1);
    /* top: 84px;  */
    background: white;
    width: 100%; 
    border: 1px solid rgb(189, 182, 182);
    box-shadow: 0px 8px 5px rgba(22, 28, 34, 0.12);
}

.py_12 {
    padding: 12px 24px;
}

.py_12:hover {
    cursor: pointer;
    background-color: rgb(243, 238, 238);
}