* {
    padding: 0;
    margin: 0;
}

html,
body {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content { 
    flex: 1 0 auto;
    height: 500px;
    background: url('https://foni.club/uploads/posts/2023-02/1675216118_foni-club-p-fon-bogatstvo-anime-23.jpg ') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}
.red {
    border: 2px solid red;
}

.borderGrey {
    border: 1px solid rgb(185, 183, 183);
}

.cursor-pointer {
    cursor: pointer;
}

.bgMainRed {
    background-color: rgb(247, 82, 41);
}